body {
    font-family: 'Poppins', sans-serif;
}
section{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}
/*infos-container*/
.infos-container{
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-template-rows: repeat(4, 2fr);
    grid-gap: 50px;
    color: white;
}
.gridinfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    opacity: 0.7;
}
.info1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: rgb(13, 10, 38);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.type-infos1{
    display: flex;
    justify-content: center;
    background-color: rgb(234, 146, 36);
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
}
.type-infos1 img{
    width: 100%;
}
.info2{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: rgb(13, 10, 38);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.type-infos2{
    display: flex;
    justify-content: center;
    background-color: rgb(234, 146, 36);
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
}
.type-infos2 img{
    width: 100%;
}
.info3{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: rgb(13, 10, 38);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.type-infos3{
    display: flex;
    justify-content: center;
    background-color: rgb(234, 146, 36);
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50%;
}
.type-infos3 img{
    width: 100%;
}

/*form-container*/
.form-container{
    margin-top: 50px;
    width: 75%;
    color: white;
}
form{
    width: 100%;
}
input[name=nom],
input[name=email]{
    width: 32%;
}
input[name=sujet]{
    width: 70%;
}
textarea{
    width: 70%;
    height: 75px;
}


#form{
    background-color: rgb(39, 38, 69);
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    margin: 10px 0 10px 0;
    padding: 12px 20px 12px 20px;
    color: white;
}
#buttonsend{
    background-color: rgb(236, 146, 36);
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    border: none;
    padding: 10px 15px;
}
#buttonsend a{
    color: white;
}

#message{
    color: white;
}

/*FOOTER*/
footer {
    position: relative;
    background-color: rgb(13, 10, 38);
    bottom: 0;
    width: 100%;
    height: 400px;
}
#foot {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    align-content: flex-start;
}
#foot p, .footer-link {
    color: rgb(201, 195, 193);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
#foot li {
    color: rgb(234, 146, 36);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
.footer-element {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}
h3 {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
ul {
    padding-left: 13px;
    list-style-type:square
}
.orange-title {
    color: rgb(234, 146, 36);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.logo {
    background-color: rgb(234, 146, 36);
    height: 18px;
    padding: 4px;
    border-radius: 3px;
    margin-left: 5px;
}
#facebook {
    padding: 4px 7px 4px 7px;
    margin-left: 0;
}
#instagram {
    padding: 4px 6px 4px 6px;
}