body {
    margin: auto;
    margin-top: 0;
    
    background-color: rgb(15, 14, 46);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    
}

/*HEADER*/
header {
    height: 340px;
    display: flex;
    flex: 1;
    flex-direction: column;
}
header{ 
    min-height:50px;
}
main {
    margin: 0 auto;
    min-height: calc(100vh - 340px - 400px);
}
footer{
    width: 100%;
    height: 400px;
    background-color: rgb(13, 10, 38);
}
h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: white;
    position: relative;
    right: 2%;
    
   
}
#head p, #head a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 510;
}
a:link {
    text-decoration: none;
}
#head a:hover {
    color: rgb(234, 146, 36);
}
#head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    background-color: rgb(18, 15, 44);
}
#head a {
    font-size: 14px;
}
#banner {
    display: flex;
    flex: 3;
    background: url("../../assets/images/banner4.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
#links {
    display: flex;
    justify-content: space-between;
}
#links a {
    padding: 13px; 
}

/*SECTION*/
section{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 200px;
}
/*infos-container*/
.infos-container{
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-template-rows: repeat(4, 2fr);
    grid-gap: 50px;
    color: white;
}
.gridinfos{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    opacity: 0.7;
}
.info1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: rgb(13, 10, 38);
}
.info1-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.type-infos1{
    background-color: orange;
    border-radius: 50%;
    margin-right: 100px;
    margin-left: 100px;
}
.type-infos1 img{
    
}
.info2{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: rgb(13, 10, 38);
}
.info3{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: rgb(13, 10, 38);
}
#icons{
    width: 15% ;
    color: white;
    padding: 4px 6px 4px 6px;
}

/*FOOTER*/
footer {
    position: relative;
    background-color: rgb(13, 10, 38);
    bottom: 0;
    width: 100%;
    height: 400px;
}
#foot {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    align-content: flex-start;
}
#foot p, .footer-link {
    color: rgb(201, 195, 193);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
#foot li {
    color: rgb(234, 146, 36);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
.footer-element {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}
h3 {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
ul {
    padding-left: 13px;
    list-style-type:square
}
.orange-title {
    color: rgb(234, 146, 36);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.logo {
    background-color: rgb(234, 146, 36);
    height: 18px;
    padding: 4px;
    border-radius: 3px;
    margin-left: 5px;
}
#facebook {
    padding: 4px 7px 4px 7px;
    margin-left: 0;
}
#instagram {
    padding: 4px 6px 4px 6px;
}