body {
    margin: auto;
    margin-top: 0;
    
    background-color: rgb(13, 10, 38);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    
}

/*HEADER*/
header {
    display: flex;
    flex-direction: column;
    height: 750px;
    background: url("../../assets/images/banner1index3.jpeg") no-repeat center center;
}
#head p, #head a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}
a:link {
    text-decoration: none;
}
#head a:hover {
    color: rgb(234, 146, 36);
    border-top: 3px solid orange;
}
#head{
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: space-around;
    padding-top: 1px;
}
#head a{
    font-size: 14px;
}

#banner{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#links {
    display: flex;

}
#links a {
    padding: 13px;
}

#banner{
    display: flex;
    flex-direction: column;
}
#banner h1{
    text-align: center;
    font-size: 4em;
    color: white;
    margin: 0;
}
#banner p{
    color: white;
    opacity: 0.7;
}

#buttongame{
    background-color: rgb(234, 156, 12);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    border: none;
    padding: 15px 45px;
}
#buttongame a{
    color: white;
}

/*SECTION*/
section{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    
}
/*CONTAINER1*/
.container1{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}
.gridimg1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}
.photo2{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}
.photo3{
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 4;
}
/*CONTAINER2*/
.container2{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#num{
    color: rgb(50, 43, 156);
    font-weight: bolder;
    font-size: 2em;
}
.paragraphe{
    margin-left: 13px;
}
.paragraphe p{
    opacity: 0.8;
    line-height: 1.5em;
}
.paragraphe h2{
    margin-top: 33px;
}
/*CONTAINER3*/
.container3{
    color: white;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 35px;
}
.gridimg2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#border{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo4{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.rectangle1{
    background: rgb(50, 43, 154);
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}
.rectangle2{
    background: rgb(75, 158, 101);
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
.rectangle3{
    background: rgb(170, 52, 163);
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}
.rectangle4{
    background: rgb(224, 148, 63);
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5;
}
#stats{
    font-weight: 800;
    font-size: 2em;
    margin: 0;
}
#intitule{
    font-weight: bolder;
    font-size: 1em;
}
/*CONTAINER4*/
.container4{
    color: white;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.container4 h2{
    font-weight: bolder;
    font-size: 2.5em;
    margin: 0;
}
.container4 p{
    opacity: 0.65;
}

/*CONTAINER5*/
.container5{
    color: white;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 35px;
}
.rectangle5{
    background: rgb(16, 17, 45);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 9;
}
.rectangle6{
    background: rgb(16, 17, 45);
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 9;
}
.rectangle7{
    background: rgb(16, 17, 45);
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 9;
}
#equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#PP{
    width: 40%;
    border-radius: 50%;
    margin-top: 30px;
}
#job{
    margin: 0 0 20px 0;
    opacity: 0.7;
}
.personalRS{
    background-color: white;
    height: 18px;
    padding: 4px;
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 30px;
}

/*FOOTER*/
footer {
    position: relative;
    background-color: rgb(13, 10, 38);
    bottom: 0;
    width: 100%;
    height: 400px;
}
#foot {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    align-content: flex-start;
}
#foot p, .footer-link {
    color: rgb(201, 195, 193);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
#foot li {
    color: rgb(234, 146, 36);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
.footer-element {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}
h3 {
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
ul {
    padding-left: 13px;
    list-style-type:square
}
.orange-title {
    color: rgb(234, 146, 36);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.logo {
    background-color: rgb(234, 146, 36);
    height: 18px;
    padding: 4px;
    border-radius: 3px;
    margin-left: 5px;
}
#facebook {
    padding: 4px 7px 4px 7px;
    margin-left: 0;
}
#instagram {
    padding: 4px 6px 4px 6px;
}