body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
<<<<<<< HEAD
    
}

#container-connexion{

    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: rgb(15, 13, 46);
    position: center;
    top: 20%;
    margin: auto;
=======
    color: azure;
}

#container-connexion {
    background-color: rgb(49, 3, 128);
    position: center;
    top: 20%;
    margin: auto;

>>>>>>> refs/remotes/origin/login
    text-align: center;

}
#container-inscription{
    display: flex;
    flex: 1;
    flex-direction: column;
<<<<<<< HEAD
    background-color: rgb(15, 13, 46);
 
    position: center;
    top: 20%;
    margin: auto;
    text-align: center;
}
.input {
    display: flex;
    flex: auto;
    margin: auto;
    width: 400px;
    border-radius: 4px;
    
    background-color: rgb(39, 37, 68);
    padding: 8px 30px;
    margin-top: 10px;
}



input[type=text] {
    outline: none;
    position: relative;
    display: flex;
    flex: auto;
    width: 400px;
    height: 20px;
    margin: 0;
    background-color: rgb(39, 37, 68);
    border: transparent;
    padding: 5px 2px;
    
}
input[type=password] {
    position: relative;
    outline: none;
    display: flex;
    flex: auto;
    width: 400px;
    margin: 0;
    background-color:rgb(39, 37, 68);
    border: transparent;
    padding: 5px 2px;
    
=======
    background-color: rgb(49, 3, 128);
    position: center;
    top: 20%;
    margin: auto;

    text-align: center;
>>>>>>> refs/remotes/origin/login
}