body{
    margin: 0git;
    padding: 0;
    font-family: "Poppins", sans-serif;
   

    
}

#container-connexion{
    margin-left: auto;
    margin-right: auto;


    display: flex;
    flex: 1;
    height: auto;
    flex-direction: column;
    background-color: rgb(15, 13, 46);
    top: 20%;
    margin: auto;
    text-align: center;

}
#container-inscription{
    margin-left: auto;
    margin-right: auto;


    display: flex;
    flex: 1;
    height: auto;
    flex-direction: column;
    background-color: rgb(15, 13, 46);
    top: 20%;
    margin: auto;
    text-align: center;
}
.input {
    display: flex;
    flex: auto;
    margin: auto;
    margin-bottom: 30px;
    

    width: 400px;
    height: 30px;
    border-radius: 4px;
    
    
    background-color: rgb(39, 37, 68);
    padding: 2px 4px;
    margin-top: 20px;
    text-align: center;
}



input[type=text] {
    
    outline: none;
    position: relative;
    display: flex;
    flex: auto;
    width: 400px;
    height: 20px;
    margin: 0;
    background-color: rgb(39, 37, 68);
    border: transparent;
    padding: 0px 0px;
    
    
}
input[type=password] {
    position: relative;
    outline: none;
    display: flex;
    flex: auto;
    width: 400px;

    background-color:rgb(39, 37, 68);
    border: transparent;
    padding: 0px 0px;
    
}
.button {
    display: block;
    background-color: orange;
    margin-top: 10px;
    margin-left: 18.4cm;
    margin-right: auto;
    padding: 40px , 20px;
    border-radius: 3px solid;
    border-radius: 5px;
    position: relative;
    width: 100px;
    height: 40px;
    


}
.form{
    
    
    height: 300px;
}