 body{
    font-family: "Poppins", "sans-serif";
}
#container-inscription{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: auto;
    flex-direction: column;
    background-color: rgb(15, 13, 46);
    top: 20%;
    margin: auto;
}
.input {
    display: flex;
    flex: auto;
    color: white;
    width: 400px;
    height: 1cm;
    border-radius: 4px;
    background-color: rgb(39, 37, 68);
    
    margin-top: 20px;
    text-align: left;
}
input {
    color: white;
    height: 1cm;
    border-radius: 4px;
    background-color: rgb(39, 37, 68);
    margin-top: 20px;
    text-align: left;
    font-size: 18px;
    outline: none;
    width: 400px;
    padding-left: 6px;
    border: transparent;
    font-family: sans-serif;
}
.button{
    background-color: orange;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    padding-right: 5px;
    font-family: sans-serif;
    text-align: center;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1cm;
    margin-bottom: 1cm;
    padding: 20px;
    font-size: 2em;
}
#login-to-register {
    margin-top: 20px;
    font-size: 14px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#login-to-register:hover {
    color: orange;
}