#table-container {
    margin: 40px 0;
    padding: 0;
    width: 100%;
}
#table {
    margin: 40px;
    overflow-x: scroll;
    display: none;
}
.row {
    display: flex;
    flex-direction: row;
}
.cell {
    background-color: orange;
    min-width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 1.5px;
    position: relative;
}
td {
    background-color: orange;
    width: 50px;
    height: 60px;
    border-radius: 5px;
}
main {
    margin: 0;
}
#chat {
    margin: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25vmax;
    height: 35vmax;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#chat-head {
    padding: 0.5vw 0 0.5vw 1.5vw;
    flex: 1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(95, 95, 237);
    display: flex;
    align-items: center;
}
#chat-body {
    flex: 7;
    overflow-x: hidden;
    overflow-y: auto;
    padding :20px 15px 0 10px;
}

#bot-img-head {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
}
#bot-img-body {
    margin-top: 0.75vw;
    margin-right: 4px;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
#chat-title {
    color: white;
    margin-left: 1vw;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
#connect-indicator {
    width: 1vmax;
    height: 1vmax;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    margin-bottom: 5px;
    right: 0;
    bottom: 0;
    border: 1px white solid;
}
#bot-img-container {
    position: relative;
}
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}
.bot-message {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}
.my-message {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.message-detail {
    color: rgb(201, 195, 193);
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}
.my-message .message-detail {
    text-align: end;
}
.message-content {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 14px;
    margin: 0.5vw 0;
    padding: 0.5vw;
    border-radius: 10px;
}
.bot-text {
    background-color: rgb(244, 244, 244);
    color: rgb(29, 29, 29);
}
.my-text {
    background-color: rgb(95, 95, 237);
    color: white;
}
#input-container {
    display: flex;
    flex-direction: row;
    margin: 0 1vw 3vw 1vw;
}
#input {
    padding: 10px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    resize: none;
    border: 2px rgb(184, 184, 184) solid;
    border-radius: 6px;
}
#submit {
    border: none;
    background-color: white;
    margin-left: 1vw;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
#no-message-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#no-message-text {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
#select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#select-content {
    display: flex;
    flex-direction: row;
}
#timer-container {
    background-color: rgb(13, 10, 38);
    color: #40c437;
    font-size: 30px;
    font-family: consolas, monospace;
    padding: 20px;
    text-align: center;
}
select {
    border: none;
    border-radius: 1px;
    height: 25px;
    width: 200px;
    margin: 10px;
    text-align: center;
}
button {
    margin-top: 20px;
    padding: 5px 10px;
}
#error-message {
    font-size: 16px;
    color: rgb(239, 35, 35);
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}