
#main-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    height: 8cm;
}




#card {

    border-radius: 10px;
    background-color: rgb(113, 26, 121);
        flex: 1;
    margin: 10px;
 }
#card2 {
    flex: 5;
    border-radius: 10px;
    margin: 0px;
    display: flex;
    flex-direction: row;

    
}

.avatar {
padding: 10px;
position: relative;
    left: 67%;
    transform: translateX(-70%);
}
#main-container h1 {
    position: relative;
    left: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0%;
    margin-top: 10px;
}
.button1{
    margin-top: 10px;
    margin-left: 20px;
    background-color: orange;
    color: black;
    padding: 20px , 20px;
    border-radius: 3px solid;
    border-radius: 5px;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
    text-align: center;
    
    width: 150px;
    height: 40px;

}
input{

    background-color: rgb(39, 37, 68);
    padding: 2px 4px;
    margin-top: 20px;
    text-align: left;

    margin-left: 20px;
    
    color: white;
   
    border: none;
    font-size: 1.2em;
    width: 400px;
    height: 30px;
    border-radius: 4px;
}


.input1[type=text] {
    padding: 2cm ,4cm;

    outline: none;
    position: relative;
    display: flex;
    flex: auto;
    width: 400px;
    
    color: white;
    background-color: rgb(39, 37, 68);
    border: transparent;
}

.input1[type=password] {

    color: white;
    position: relative;
    outline: none;
    display: flex;
    flex: auto;
    width: 400px;
    background-color:rgb(39, 37, 68);
    border: transparent;
}



#modif-password {
    flex: 1;
    display: flex;
    background-color: rgb(113, 26, 121);
    
    border-radius: 10px;
    flex-direction: column;
    margin: 10px;
    
}
#modif-mail {
    border-radius: 10px;
    flex: 1;
    background-color: rgb(113, 26, 121);
    margin: 10px;
    display: flex;
    flex-direction: column;
}




