@media (max-width: 800px) {
    table {
        margin-left: 20px;
        margin-right: 20px;
    }
}
#table-container {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 40px;
}
table {
    border-spacing: 0 10px;
}
td, th {
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding: 10px 30px;
}
td {
    padding-top: 22px;
    border-top: 1px white solid;
}
.memory-link {
    color: white;
}
.memory-link:hover {
    color: rgb(234, 146, 36);
}
#no-score-text {
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 50px;
    font-size: 16px;
}
#select-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#select-content {
    display: flex;
    flex-direction: row;
}
select {
    border: none;
    border-radius: 1px;
    height: 25px;
    width: 200px;
    margin: 10px;
    text-align: center;
}
button {
    margin-top: 20px;
    padding: 5px 10px;
}